services:
  mariadb:
    image: mariadb:10.3.9
    container_name: gestion_horarios-db
    environment:
      MYSQL_DATABASE: gestion_horarios
      MYSQL_USER: manager
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: secret
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: gestion_horarios-phpmyadmin
    environment:
      PMA_HOST: mariadb
      PMA_PORT: 3306
      PMA_ARBITRARY: 0
    ports:
      - "8080:80"
    depends_on:
      - mariadb


  backend:
    build: ./backend
    container_name: gestion_horarios-backend
    volumes:
      - ./backend:/var/www
    ports:
      - "8000:8000"
    depends_on:
      - mariadb
        

  frontend:
    build: ./frontend
    container_name: gestion_horarios-frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "4200:4200"
    depends_on:
      - backend

volumes:
  mariadb_data:

